# General
*.[oa]
*~
*.pyc
*.pyd
*.sol
*.lp
*.log

# PyCharm Project Files
.idea/*

# Builds
build/*

# PyCache
*__pycache__*

# egg-info
OPTALG.egg-info/

# distribution files
dist/

# Libraries
*.la
*.so
*.so.*
*.dylib
lib/
*.dll
KLU.lib

# Cython C
_dmumps.c
cipopt.c
cclp.c
ccbc.c
klu.c

# Setup
setup.cfg

# Eclipse stuff
/.project
/.pydevproject

# License (KLU)
*AMD.txt

# Tox
.tox/